<div *ngIf="viewMode; else editable">
    <div *ngIf="currentEvento.id">
      <h4>Evento</h4>
      <div>
        <label><strong>Origen:</strong></label> {{ currentEvento.origenevento }}
      </div>
      <div>
        <label><strong>Cantidad:</strong></label>
        {{ currentEvento.cantidad }}
      </div>
      <div>
        <label><strong>Fecha:</strong></label>
        {{ currentEvento.fecha |  date :'Y-M-dd hh:mm:ss' }}
      </div>
      <div>
        <label><strong>Total:</strong></label>
        {{ currentEvento.total  }}
      </div>
      <a
        class="badge badge-warning"
        routerLink="/eventos/{{ currentEvento.id }}"
      >
        Edit
      </a>
    </div>
    <div *ngIf="!currentEvento">
      <br />
      <p> click en un Evento por favor...</p>
    </div>
  </div>
  <ng-template #editable>
    <div *ngIf="currentEvento.id" class="edit-form">
      <h4>Tutorial</h4>
      <form>
        <div class="form-group">
          <label for="origenevento">Plataforma de Origen</label>
          <input
            type="text"
            class="form-control"
            id="origenevento"
            [(ngModel)]="currentEvento.origenevento"
            name="origenevento"
          />
        </div>
        <div class="form-group">
          <label for="Cantidad">Cantidad</label>
          <input
            type="text"
            class="form-control"
            id="cantidad"
            [(ngModel)]="currentEvento.cantidad"
            name="cantidad"
          />
        </div>
        <div class="form-group">
          <label><strong>Fecha:</strong></label>
          {{ currentEvento.fecha | date :'Y-M-dd hh:mm:ss'  }}
        </div>
        <div class="form-group">
          <label><strong>Total:</strong></label>
          {{ currentEvento.total }}
        </div>
      </form>
   
   <!--   <button
       
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      >
        Publish
      </button>-->
      <button class="badge badge-danger mr-2" (click)="deleteEvento()">
        Eliminar
      </button>
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateEvento()"
      >
        Actualizar
      </button>
      <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentEvento.id">
      <br />
      <p>No se puede acceder al evento...</p>
    </div>
  </ng-template>
